language: go
sudo: false
matrix:
  include:
    - go: 1.x
      env: LATEST=true
    - go: tip
  allow_failures:
    - go: tip

before_install:
  - go get github.com/mitchellh/gox

install: true

script:
  - go get -t -v ./...
  - go vet $(go list ./...)
  - go test -v -race ./...
  # Only build binaries from the latest Go release.
  - if [ "${LATEST}" = "true" ]; then gox -os="linux darwin windows" -arch="amd64" -output="go-runner.{{.OS}}" -ldflags "-X main.Rev=`git rev-parse --short HEAD`" -verbose ./...; fi
  - ls

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_OAUTH_TOKEN
  file:
  - go-runner.windows.exe
  - go-runner.darwin
  - go-runner.linux
  on:
    tags: true
    condition: $LATEST = true